/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.nav-item {
  margin-left: auto;
  text-align: right;
  color: white;
  margin-top: 10px;
  font-weight: 600;
  font-size: 50px;
  margin-right: 50px;
  background: -webkit-linear-gradient(#eee, #686868);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.nav-item:hover {
  background: -webkit-linear-gradient(#d3d3d3, #cecece);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5ms;
}

.nav {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}
.img{
  width: 13rem;
  height: 100%;
}